

body{
	
	
	height: 400px;
	background-image: url("ff4a.jpg");
	background-size: 100%;
	background-color: white;
	

	
}

img{
	max-width: 100%;
}
#idd{

top: 10px;
color:blue;
font-size: 20px;
margin-left: 16px;
position: relative;
color:red;

}

#acesso{

margin-top: 14.95%;

margin-left: 65.2173%;

height: 70%;
background-color: white;
width: 22%;
border-radius:20px;
opacity: 0.9;
position: relative;


}
#rr{
	height: .5px;
margin-top: 20px;
background-color: #DCDCDC;
border:none;

}
#user{
width: 90%;
position: relative;
margin-left:10px;
margin-top: 18px;
height: 30px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #DCDCDC;
	outline: none;

}
#senha{
	width: 90%;
	position: relative;
	margin-left: 10px;
	margin-top: 50px;
	height: 30px;

	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #DCDCDC;
	border-spacing: 4px;
	outline: none;
}
#enviar{
	margin-left: 13px;
	margin-top: 36px;
	width: 90%;
	box-shadow: none;
	box-sizing: none;
	outline: none;
	height: 40px;
	background-color: #3CB363;

}
#topo{

	width: 100%;
	background-color: #1C1C1C;
	position: absolute;
	top:0px;
	right: 0px;
	left: 0px;
	height: 60px;
	opacity: 0.8;

}
#lab{
	color: white;
	top:16px;
	font-size:23px;
	position: relative;
	left: 60px;
}
#roda{

	top:93%;
	right: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	align-items:  center;
	color:white;
	background-color: #1C1C1C;
	position: absolute;
	opacity: 0.8;
}
#el{
	top:8px;
	font-size:13px;
	position: relative;
	left: 36.36%;

}
